[build]
builder = "DOCKERFILE"
dockerfilePath = "config/config-server/Dockerfile"
watchPatterns = ["config/config-server/**", "libs/**", "pom.xml"]

[deploy]
healthcheckPath = "/actuator/health"
healthcheckTimeout = 90
restartPolicyType = "ON_FAILURE"
